@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding:0; margin:0;
    letter-spacing: -0.5px;
    font-family:Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue, 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;

}
input[type="text" i] {padding:0; background:none;}
input:focus {outline:none;}
h1, h2, h3, h4, h5, h6, p{vertical-align: baseline; outline: 0; padding: 0; margin: 0; border: 0;}
button {background:none; border:0;}
ul, li {padding:0; margin:0; list-style:none;}
a {display:block; text-decoration:none;}
/*reset*/