@import "../reset.css";
@import "../header.css";
@import "../footer.css";


#container section {width:100%; }
#container section .content {width:50%; box-sizing:border-box;}
#container section .wrap {width:100%; box-sizing:border-box; padding-top:160px; padding-bottom:80px;}
#container section h1 {font-size:4rem; line-height:4.3rem;}

#container section.main {background:black; color:white; height:100vh; display:flex;}
#container .main .leftContent {position:relative; text-align:center; display:flex; align-items:center; padding:0 7%;}
#container .main .leftContent h1 {padding:0 40px;}
#container .main .leftContent button {position:absolute; bottom:48px; left:50%; margin-left:-15px; width:30px; height:30px; border-radius:50%; border:1px solid white;}

#container .main .rightContent {position:relative;}
#container .main .rightContent video {width:100%; height:100%; display:block;}
#container .main .rightContent .videoText {position:absolute; left:20px; bottom:20px; display:flex; flex-direction:column;}
#container .main .rightContent .videoText button {}
#container .main .rightContent .videoText > img {}
#container .main .rightContent .videoText span {}


#container section.startHosting {background:black;}
#container .startHosting .wrap {padding-left: 48px;}
#container .startHosting .imageSlide {padding-top:80px; position:relative;}
#container .startHosting .slideWrap {} 
#container .startHosting .slideWrap ul {display:flex; overflow:hidden; width:206%;}
#container .startHosting .slideWrap li {width:16%;}
#container .startHosting .slideWrap li a {box-sizing:border-box; height:75vh; padding:0 10px;}
#container .startHosting .slideWrap li a img {border-radius:5px; height:100%;}
#container .startHosting .slideWrap li .textBox {color:white; box-sizing:border-box; padding:30px 30px;}
#container .startHosting .slideWrap li .textBox p {font-size:1.6rem; display:block;  margin-right:30px; margin-bottom:35px;}
#container .startHosting .slideWrap li .textBox img {height:32px; display:block; margin-bottom:30px;}
#container .startHosting .slideWrap li .textBox span {color:#888; }
#container .startHosting .imageSlide button {position:absolute; left:59%; bottom:65px; width:30px; height:30px; border:1px solid white; color:white; border-radius:50%;}
#container .startHosting .imageSlide button:last-child {margin-left:50px;}